// Sass Variables
$cWidth: 70%;
$bgColor:  #7a3892;
$color: #0b0b0d;
$font: 'Josefin Sans', sans-serif;
$margin: 20px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// Sass Nested Properties
body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: $bgColor;
    color: $color;
    font: {
        family: $font;
        size: 14px;
    }
    text: {
        align: center;
    }
}
// Sass Nested Rules
.blog-post-card {
    background-color: #e8c7f2;
    width: $cWidth;
    border:2px solid #3b1150;
    margin: auto;
    display: flex;
    .post-img {
        border-right: 2px solid #3b1150;
    width: 50%;
    }
    .post-content{
        padding: 15px;
        margin: auto;
        .post-title {
            $color: #34273a; // Sass Variable Scope 
            color: $color;
            margin-bottom: $margin;
        }
        .post-subtitle {
            $color: #a61e47 !global; // Sass !global 
            color: $color;
            margin-bottom: $margin;
        }
        .post-excert{
            margin-bottom: $margin;
        }
        .learn-more{
            cursor: pointer;
            border: 1px solid #3b1150;
            padding: 5px;
            border-radius: 5px;
        }
        a:hover{
            background-color: $bgColor;
            color: #e8c7f2;
        }
    }
}





