// Sass Variables
$cWidth: 70%;
$bgColor:  #7a3892;
$color: #0b0b0d;
$font: 'Josefin Sans', Monospace;
$margin: 20px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// Sass Nested Properties
body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: $bgColor;
    color: $color;
    font: {
        family: $font;
        size: 14px;
    }
    text: {
        align: center;
    }
}
// Sass Nested Rules
.blog-post-card {
    background-color: #e8c7f2;
    width: $cWidth;
    border:2px solid #3b1150;
    margin: auto;
    display: flex;
    .post-img {
        border-right: 2px solid #3b1150;
    width: 50%;
    }
    .post-content{
        padding: 15px;
        margin: auto;
        .post-title {
            $color: #34273a; // Sass Variable Scope 
            color: $color;
            margin-bottom: $margin;
        }
        .post-subtitle {
            $color: #a61e47 !global; // Sass !global 
            color: $color;
            margin-bottom: $margin;
        }
        .post-excert{
            margin-bottom: $margin;
            background-color: $bgColor;
            color: #fbefff;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid $bgColor;
        }
        .learn-more{
            font-weight: bold;
            cursor: pointer;
            border: 1.5px solid #3b1150;
            padding: 5px;
            border-radius: 5px;
            transition: transform .5s, background-color .5s ease;
        }
        a:hover{
            background-color: $bgColor;
            color: #e8c7f2;
            transform: scale(2.2);
  
        }
        a:focus{
            background-color: #34273a;
        }
    }
}
@media (width <= 1082px) {
    .blog-post-card
    {
        display: grid;
        grid-template-rows: 2fr 2fr;
        max-width: 50%;
        max-height: 100vh;
        .post-title{
            font-size: 2rem;
        }
        .post-excert{ 
            font-size: 1rem;
        }
        .post-subtitle{
            font-size: 1.5rem;
        }
        .learn-more{ 
            font-size: 1rem;
        }
        .post-img{
            width: 100%;
            border-bottom: 2px solid #3b1150;
            border-right: none;
        }
    }
}
@media (width <= 850px) {
    .blog-post-card
    {
        display: grid;
        grid-template-rows: 2fr 2fr;
        max-width: 50%;
        max-height: 100vh;
        .post-title{
            font-size: 1.75rem;
        }
        .post-excert{
            font-size: .75rem;
        }
        .post-subtitle{
            font-size: 1.25rem;
        }
        .learn-more{
            font-size: .75rem;
        }
    }
}
@media (width <= 700px) {
    .blog-post-card
    {
        display: grid;
        grid-template-rows: 2fr 2fr;
        max-width: 50%;
        max-height: 100vh;
        .post-title{
            font-size: 1.50rem;
        }
        .post-excert{
            font-size: .60rem;
        }
        .post-subtitle{
            font-size: 1rem;
        }
        .learn-more{
            font-size: .50rem;
        }
    }
}
@media (width <= 540px) {
    .blog-post-card
    {
        display: grid;
        grid-template-rows: 2fr 2fr;
        max-width: 50%;
        max-height: 100vh;
        .post-title{
            font-size: 1.25rem;
        }
        .post-excert{
            font-size: .25rem;
        }
        .post-subtitle{
            font-size: .75rem;
        }
        .learn-more{
            font-size: .25rem;
        }
    }
}



